.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 10px;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  font-weight: bold;
  margin: 10px;
}

.card img {
  height: 60%;
}
